.header {
  margin-bottom: 50px; /* Adjust this as needed */
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  padding: 5px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it takes the full width */
}

.link {
  display: block;
  padding: 7px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

[data-mantine-color-scheme] &[data-active] {
  color: var(--mantine-color-black);
  font-weight: 600;
  font-size: 16px;
}
